.App {
  text-align: center;
  height: 100%;
}

#root {
  height: 100vh;
}

.Header {
  height:10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Section {
  height: 90%; 
  display: flex;
  align-items: center;
  justify-content: center;
}